{%extends "layout.html" %}

{% block title %} Login {% endblock%}
{% block body %}
      <!-- Latest News-->
      <section class="section section-md bg-gray-100">
        <div class="container">
          <div class="row row-50">

            <div class="col-lg-8">
              <div class="main-component">
                <!-- Heading Component-->
                <article class="heading-component">
                  <div class="heading-component-inner">
                    <h5 class="heading-component-title">Main
                    </h5>
                  </div>
                </article>
              </div>
            </div>
            <!-- Aside Block-->
            <div class="col-lg-4">
              <aside class="aside-components">
                <div class="aside-component">
                  <!-- Heading Component-->
                  <article class="heading-component">
                    <div class="heading-component-inner">
                      <h5 class="heading-component-title">Side
                      </h5>
                    </div>
                  </article>

                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
