
{%extends "layout.html" %}

{% block title %} Register {% endblock%}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/j-pro.css')}}">
{% if name: %}
<script>
alert("{{name}}");
</script>
{% endif %}
<div class="col-sm-12">

<div class="card">
<div class="card-header">
<h5>Register Yourself Here</h5>
<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
<div class="card-header-right">
<i class="icofont icofont-rounded-down"></i>
<i class="icofont icofont-refresh"></i>
<i class="icofont icofont-close-circled"></i>
</div>
</div>
<div class="card-block">
<div class="j-wrapper j-wrapper-640">
<form action="{{url_for('auth')}}" method="post" class="j-pro" id="j-pro register-form" novalidate="">
<div class="j-content">

  <div>
  <label class="j-label">First Name</label>
  <div class="j-unit">
  <div class="j-input">
  <label class="j-icon-right" for="name">
  <i class="icofont icofont-ui-user"></i>
  </label>
  <input id="firstname" name="firstname" type="text" required>
  </div>
  </div>
  </div>

  <input id="action" value="register" name="action" type="hidden">

  <div>
  <label class="j-label">Last Name</label>
  <div class="j-unit">
  <div class="j-input">
  <label class="j-icon-right" for="name">
  <i class="icofont icofont-ui-user"></i>
  </label>
  <input id="lastname" name="lastname" type="text" required>
  </div>
  </div>
  </div>

 <div>
<div>
<label class="j-label">Email</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="email">
<i class="icofont icofont-envelope"></i>
</label>
<input id="email" name="email" type="email" required>
</div>
</div>
</div>


<div>
<div>
<label class="j-label ">Username</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="login">
<i class="icofont icofont-ui-check"></i>
</label>
<input id="login" name="username" type="text" required>
</div>
</div>
</div>


<div>
<div>
<label class="j-label ">Password</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="password" required>
<i class="icofont icofont-lock"></i>
</label>
<input id="password" name="password" type="password">
</div>
</div>
</div>


<div class="j-response"></div>

</div>

<div class="j-footer">
<button type="submit" class="btn btn-primary">Register</button>
</div>

</form>
</div>
</div>
</div>

</div>
{% endblock%}
{% block js %}
<script>
$(document).ready(function(){
  //for register validation
  // $('#register-form').submit(function(e){
  //   if($('#password').val() != $('#confirm-password').val()){
  //     alert("Password Not Match");
  //     e.preventDefault();
  //     $('#confirm-password').focus();
  //   }
  // });

  // jx register
  $('#register-form').submit(function(e){
  e.preventDefault();
    var username = $('#username').val();
    var password = $('#password').val();
    var lastname = $('#lastname').val()
    var firstname = $('#firstname').val()
    var email = $('#email').val()
    var action = $('#action').val()
    var details = {'username': username, 'password': password, 'lastname': lastname, 'firstname': firstname, 'email': email, 'action': action};
    var login = $.ajax({
      url: "{{url_for('auth')}}",
      type: 'POST',
      data: details,
      dataType: 'json',
      contentType: 'application/json;charset=UTF-8',
    }).done(function(resultData){
      alert(resultData);
    }).error(function(){
      alert('something went wrong');
    });
  });
})
</script>
{% endblock%}
